body {
    background-color: #fffbf7;
  }
  
h1 {
  color: #46484c;
  text-align: center;
}

h2, h3, h5{
  color: #025157;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

a{
  color: #67b54b;
}


input{
  padding: 12px 14px;
}

.banner > img{
  max-width: 50%;
  border: none;
  vertical-align: middle;
}

.image{
  max-width: 70%;
  border: none;
  vertical-align: middle;
}

.header{
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
  height: 45px;
}

li > a{
  display: inline;
  color: #025157;
}

.header > *{
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.logo{
  width: 15%;
}

.logo > img{
  width: 15%;
}

.navbar{
  /*width: 70%;*/
  background-color: #fffbf7;
  display: inline;
  z-index: 2;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.navbar li{
  display: inline;
  margin: 0 25px;
}

.actions{/*nav-item
  /*width: 15%;*/
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.actions > *{
  margin: 0 10px;
}

.actions a{
  color: #67b54b;
}

.actions button{
  color: #fff;
  background-color: #67b54b;
}

.main{
  margin-top: 285px;
  text-align: center;
  vertical-align: baseline;
}

main h1{
  font-family: 'Rubik', sans-serif;
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.publish{
  color: #025157;
  margin-left: 30px;
}

.publish h2 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish p{
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.arrow-text{
  display: inline-flex;
  vertical-align: text-bottom;
}

.arrow-text > p {
  /*vertical-align: text-bottom;*/
  text-align: end;
}

.accomplishment{
  background-color: #a1d683;
  display: flex;/*En vez de flex usar grid*/
  align-items: center;
  align-content: space-around;
  /*position: relative;*/
  padding: 50px 50px 100px;
  /*padding-bottom: 100px;*/
}

.accomplishment > button{
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}
/*
.accomplishment > h2{
  color: #025157;
}*/

.marks{
  width: 60%;
  margin: 5%;
}

.marks > img{
  width: 100%;

}

.stories{
  background-color: #fffbf7;
  /*position: relative;*/
  width: 30%;
  border: 1px solid #025157;
  /*padding: 2%;*/
}
.card-body > a{
  background-color: #025157;
  padding: 12px 14px;
  margin: 25px 0;
}
.card-body > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-body > div > .img-fluid{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/*.stories > h3{
  color: #025157;
}*/

.client{
  position: relative;
  width: 100%;
  /*max-height: 16vw;*/
}

.icon{
  width: 30%;
  position: absolute;
  z-index: 0;
  bottom: -5%;
  right: 10%;
}

.features{
  display: grid;
  background-color: #025157;
  height: 660px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  /*grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);*/
  padding: 30px 20px 40px 40px;
  text-align: left;
  border-radius: 5px;
  height: 100%;

}

.feature-card{
  display: flex;
  margin: 0 15px 30px;
  background-color: #fff;
  border: 1px solid #dadada;
  color: #025157;
}

.feature-content{
  width: 70%;
  padding-left: 1rem;
}

.feature-image > *{
  /*flex: 0;*/
  width: 100%;
  height: 80%;
  align-content: center;
  /*position: relative;
  right: -50px;*/
  padding: 0;
}

.How-it-works{
  background-color: #fffbf7;
  width: 100%;
  padding: 5% 10%;
  text-align: center;
  display: inline;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5% 5%;
  padding: 5% 10%;
  text-align: left;
}
/*
.card{
  background-color: #fff;
  padding: 30% 5% 10% 5%;
}*/
.card > h3{
  text-align: center;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

@media (breakpoint) {
  /** Aplica estilos particulares para este tamaño */
}

@media (max-width: 575px) {
  body {
    background-color: yellow;
  }
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .navbar,.actions{
    /*display: none;*/
    text-align: center;
  }

  .main{
    margin-top: 130px;
  }
  
  h1{
    font-size: 30px;
  }

  .banner > img{
    width: 100%;
  }

  .publish > form{
    flex-direction: column;
  }

  .publish > form > div{
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input{
    width: 65%;
  }  

  .promo{
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video{
    width: 100%;
  }

  .publish{
    margin-top: 10px;
  }

  .publish > h2{
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    height: 100%;
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-image {
    display: none;
  }

  .accomplishment{
    height: 100%;
    flex-direction: column;
    padding: 5px 5px 10px;
  }
  .marks{
    width: 90%;
  }
  .stories{
    width: 90%;
  }
  .icon{
    width: 30%;
    position: absolute;
    z-index: 0;
    bottom: 53%;
    right: 20%;
  }
  .cards{
    grid-template: repeat(4, 1fr) / 1fr;
    padding: 5% 0;
    gap: 2%;
  }

  /* Cambiamos el alto mínimo de la tarjeta, para que se vea bien en responsive */
.success-stories .card {
  max-width: 370px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

/* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */
.success-stories .card img {
  max-height: 30vh;
  object-fit: cover;
}

/* Agregamos position: relative para recibir un elemento con position:absolute más adelante */
.success-stories .card .card-body {
  max-width: 370px;
  width: 100%;
  position: relative;
  padding: 40px 1rem 1rem;
}

/* Estos son los estilos para textos y acomodo de elementos */
.success-stories .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "Slabo 27px", serif;
}

.success-stories .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .card .card-body .results {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.success-stories .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .card .card-body .results p {
  margin: 0;
}

.success-stories .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
  background-color: #025157;
  color: #fff;
  border: none;
}

.success-stories .card .card-footer {
  background-color: #ffffff;
  color: #fff;
  border: none;
}

/* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
.success-stories .card .card-body .card-circle {
  display: flex;
  align-items: center;
  position: absolute;
  top:-45px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 5px;
}

/* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
.success-stories .card .card-body .card-circle.everly {
  background-color: #f9da73;
  border: 5px solid #f9da73;
}

/* Los círculos deben recibir la imagen y ajustarla al tamaño */
.success-stories .card .card-body .card-circle.everly img {
  object-fit: contain;
  width: 100%;
}
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px and max-width: 767px) {
  ...;
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px and max-width: 991px) {
  .actions,
  .navbar {
    text-align: center;
  }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px and max-width: 1199px) {
  ...;
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  ...;
}